# Rename this file to .env and fill in your credentials

# SMTP Sender Email for Anomaly Report
SENDER_EMAIL=youremail@example.com

# SMTP Password or App Password (e.g., Gmail app password)
SENDER_PASSWORD=yourpassword123
